<div class="page-header">
  <h3>Very Best Dishes Bookmark #<%= @very_best_dishes_bookmark.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Dish</dt>
      <dd>
        <% if @very_best_dishes_bookmark.dish.present? %>
          <a href="/dishes/<%= @very_best_dishes_bookmark.dish_id %>">
            <%= @very_best_dishes_bookmark.dish.name %>
          </a>
        <% end %>
      </dd>

      <dt>Cuisine</dt>
      <dd>
        <% if @very_best_dishes_bookmark.cuisine.present? %>
          <a href="/cuisines/<%= @very_best_dishes_bookmark.cuisine_id %>">
            <%= @very_best_dishes_bookmark.cuisine.name %>
          </a>
        <% end %>
      </dd>

      <dt>Restaurant</dt>
      <dd>
        <% if @very_best_dishes_bookmark.restaurant.present? %>
          <a href="/restaurants/<%= @very_best_dishes_bookmark.restaurant_id %>">
            <%= @very_best_dishes_bookmark.restaurant.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/very_best_dishes_bookmarks" class="btn btn-primary">
        Back
      </a>
      <a href="/very_best_dishes_bookmarks/<%= @very_best_dishes_bookmark.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_very_best_dishes_bookmark/<%= @very_best_dishes_bookmark.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
