<div class="page-header">
  <h3>Dish #<%= @dish.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @dish.name %></dd>

      <dt>Cusine</dt>
      <dd><%= @dish.cusine_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/dishes" class="btn btn-primary">
        Back
      </a>
      <a href="/dishes/<%= @dish.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_dish/<%= @dish.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Dish has many very_best_dishes_bookmarks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Very Best Dishes Bookmarks
      </li>

      <% @dish.very_best_dishes_bookmarks.each do |very_best_dishes_bookmark| %>
        <li class="list-group-item">
          <a href="/very_best_dishes_bookmarks/<%= very_best_dishes_bookmark.id %>">
            <%= very_best_dishes_bookmark.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/very_best_dishes_bookmarks/<%= very_best_dishes_bookmark.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/very_best_dishes_bookmarks/<%= very_best_dishes_bookmark.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_very_best_dishes_bookmark/<%= very_best_dishes_bookmark.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_very_best_dishes_bookmark" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for dish_id -->
      <input type="hidden" name="dish_id" value="<%= @dish.id %>">

      <!-- Label and input for cuisine_id -->
      <div class="form-group">
        <label for="cuisine_id" class="control-label">
          Cuisine
        </label>

        <%= select_tag(:cuisine_id, options_from_collection_for_select(Cuisine.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for restaurant_id -->
      <div class="form-group">
        <label for="restaurant_id" class="control-label">
          Restaurant
        </label>

        <%= select_tag(:restaurant_id, options_from_collection_for_select(Restaurant.all, :id, :name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Very Best Dishes Bookmark
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
